body{
    padding: 0;
    margin: 0;
    font-family: "Arima", system-ui;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(90deg ,#518ddb,#37579c);
    overflow: hidden;
}

section .wave{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-image: url(../images/wave.png);
    background-size: 1000px 100px;
}

section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3{
    animation: animate2 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -s;
    bottom: 15px;
}

section .wave.wave4{
    animation: animate 15s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: 2s;
    bottom: 20px;
}

@keyframes animate {

    0%{
        background-position-x: 0;
    }

    100%{
        background-position-x: 1000px;
    }
    
}

@keyframes animate2 {

    0%{
        background-position-x: 0;
    }

    100%{
        background-position-x: -1000px;
    }
    
}

.inputDiv{
    border-color: #518ddb !important;
}

input:focus{
    box-shadow: 0 4px 2px #518ddb !important; 
}

button{
    border: 1px solid #518ddb !important;
    margin-top: 20px;
}

button:hover{
    background-color: #518ddb !important;
    color: #fff !important;
}

.passInput{
    position: relative;
}

.showPassIconOne,
.showPassIconTwo{
    position: absolute;
    right: 2%;
    bottom: 30%;
    cursor: pointer;
}

.inner-box .circles span{
    height: 20px;
    width: 20px;
    display: inline-block;
}

.inner-box span:nth-child(1){
    background-color: #F15F5D;
    
}

.inner-box span:nth-child(2){
    background-color: #FEBE2E;
}

.inner-box span:nth-child(3){
    background-color: #4DB748;
}

.inner-box p{
    font-size: 21px;
    color: rgb(53, 46, 40);
    margin-bottom: 15px;
}

.inner-box li{
    font-size: 18px;
    color: rgb(33, 37, 41);
    margin-bottom: 10px;
}

.inner-box ul i{
    color: #BB4120;
}
